---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global.css";
import FlowerSection from "../components/FlowerSection.astro";
import FlowerText from "../components/FlowerText.astro";
import { Image } from "astro:assets";
import SlidingSection from "../components/SlidingSection.astro";
import ReviewCard from "../components/ReviewCard.astro"
import HeroSection from "../components/HeroSection.astro"
import FooterComponent from "../components/FooterComponent.astro";
import ShortInfo from "../components/ShortInfo.astro"
---

<BaseLayout>
	<HeroSection/>
	<ShortInfo />
	<SlidingSection />
	<section>
	<div class="flower-section">
		<h1>How does it work</h1>
		<div class="flower-content">
			<div class="blur-filter"></div>
			<div class="flower-img">
				<FlowerSection />
			</div>
		<div class="text-container">
			<div class="air-text"><FlowerText title="Lucht" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
			<div class="fire-text"><FlowerText title="Vuur" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
			<div class="earth-text"><FlowerText title="Aarde" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
			<div class="water-text"><FlowerText title="Water" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
		</div>

		</div>
	</div>
</section>
		<section class="review-section">
			<h1>See what other think</h1>
			<div class="review-card-container">
				<ReviewCard paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua." />
				<ReviewCard paragraph="Messi is de beste voetballer allertijden en het feit dat Ronaldo soms met hem wordt vergelen is een schande." />
				<ReviewCard paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua." />
			</div>
		</section>

	<script src="../scripts/main.js"></script>
</BaseLayout>

