---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style/global.css";
import FlowerSection from "../components/FlowerSection.astro";
import FlowerText from "../components/FlowerText.astro";
import { Image } from "astro:assets";
---

<BaseLayout>
	<section>
	<div class="flower-section">
		<h1>How does it work</h1>
		<div class="flower-content">
			<div class="blur-filter"></div>
			<div class="flower-img">
				<FlowerSection />
			</div>
		<div class="text-container">
			<div class="air-text"><FlowerText title="Lucht" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
			<div class="fire-text"><FlowerText title="Vuur" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
			<div class="earth-text"><FlowerText title="Aarde" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
			<div class="water-text"><FlowerText title="Water" paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis."  buttonText="button"/></div>
		</div>

		</div>
	</div>
</section>

	<div class="red-square">
		Placeholder text
	</div>
	
	<script src="../scripts/main.js"></script>
</BaseLayout>

