@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,700;1,400&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #add8e6;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #8cd0e7;
}

:root {
    --pink-main: #ECBCCF;
    --LBlue-main: #61C7CB;
    --green-main: #6DB67C;
    --orange-main: #EE6922;
    --yellow-main: #FABC2F;
    --white-main: #F6F8F7;
    --Dblue-main: #29336E;
    --LblueBg: #ABDFE1;
}

container { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
    /*xs */
    @media (min-width: 475px) {
        .container {
            max-width: 475px ;
        }
    }
    
    /* sm */
    @media (min-width: 640px) {
        .container{
            max-width: 640px;
        }
    }
    
    /* md */
    @media (min-width: 768px) {
        .container {
            max-width: 768px ;
        }
    }
    
    
    /* Lg */
    @media (min-width: 1024px) {
        .container {
            max-width:1024px ;
        }
    }
    
    
    /* xL */
    @media (min-width: 1280px) {
        .container{
            max-width: 1280px
        }
    }
    
    
    /* 2xL */
    @media (min-width: 1536px) {
        .container{
            max-width: 1536px
        };
    }

*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-main);
}
header{
    
    background-color: var(--orange-main)
    
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0.5rem 0;
}

nav ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li a{
    color: var(--white-main);
    text-decoration: none;
    margin-right: 2rem;
}

nav ul li a:hover{
    color: red;
}
.signupbutton {
    height: 3rem;
    width: 7rem;
    background-color: #29336E;
    border: none;
    color: var(--white-main);
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}



.svg-circle {
    transform: scale(0.1);
}

.svg-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test-section{
    background-color: rgb(0, 162, 255);
    height: 100vh;

}

.text-test{
    height: 100vh;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-h2{
    color: white;
    font-size: 2rem;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    bottom: 0;
    padding: 2rem;
    position: relative;
    margin-top: auto;
}

.flower-section {
    display: flex;
    flex-direction: column;
    height: 100;
    width: 90%;
    margin: 0 auto;
    
}

.flower-section h1 {
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
}

.flower-section img{
    position: relative;
    transform-origin: center center;
    height: 100%;
    width: 100%;
}

.blur-filter{
    position: absolute;
    height: 50vh;
    width: 50%;
    bottom: 0;
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(252,252,252,1) 18%); */
    filter: blur(5px);
    z-index: 1;
}


.flower-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.flower-text{
    position: absolute;
    padding-left: 10rem;
    justify-content: center;
    align-items: center;
}

.flower-text p {
    margin-bottom: 1rem;
}

/* .text-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
} */

.air-text, .fire-text, .earth-text, .water-text{
    display: flex;
    align-items: center;
}

.text-container h2{
    font-size: 4rem;
}

.text-container p{
    font-size: 1.5rem;
}
.text-container button{
    height: 3rem;
    width: 7rem;
    background-color: #29336E;
    border: none;
    color: var(--white-main);
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}


.sliding-section{
    height: 100vh;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sliding-section-content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.orangeblock {
    background-color: var(--orange-main);
    height: 30rem;
    width: 30rem;
    position: relative;
}

.orangeblockcontainer{
    width: 50%;
    display: flex;
    justify-content: center;
    
}

.rightsidetext{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    width: 50%;
    overflow: hidden;
}

.orangeblock-img{
    position: absolute;
    min-width: 20rem;
    left: -2rem;
    top: -1rem;
}

.orangeblock-img2{
    position: absolute;
    width: 10rem;
    bottom: -40px;
    right: -50px;
}

.review-section{
    height: 100vh;
    width: 100%;
    background: var(--Dblue-main);
    text-align: center;
}

.review-section h1{
    margin: 3rem;
    color: #fff;
}

.swiper {
    width: 600px;
    height: 300px;
}

.review-card-container{
    display: flex;
    justify-content: space-around;

}

.review-card{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15rem;
    width: 30%;
    border-radius: 1rem;
    border: 1px solid #EE6922;
}


.card-text-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.card-text-container p{
    font-size: 1rem;
    width: 70%;
    text-align: left;
}

.card-star-container{
    margin: 0 auto;
}

.card-star-rating{
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
    gap: 1rem;
    width: 100%;
}

.card-star-rating img{
    height: 100%;
    width: 100%;
}



.signupformsection {
    height: 100vh;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/getintouchbg.png");
    background-size: cover;

}

.form {
    background-color: var(--white-main)
}



.formbigdiv {
    background: white;
    height: 23rem;
    width: 36rem;
    border-radius: 8px;
    padding-right: 2rem;
    z-index: 2;
}
.formbigdiv h1 {
    text-align: center;
    margin-top: 3rem;
}

.formdiv {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 3rem;
}

.formrow1 {
    display: flex;
    justify-content: space-around;
}
.formrow2 {
    display: flex;
    justify-content: space-around;
}
.formrow3 {
    display: flex;
    width: 20rem;
    margin-left: 2.3rem;
}
#user_message {
    width: 26.5rem;
}
#userdata .createbtn {
    margin-left: 21rem;
}

.createaccountdiv {
    height: 33.3333%;
    margin-left: 3rem;
    margin-top: 3rem;
}

.createbtn {
    height: 3rem;
    width: 11rem;
    background-color: darkred;
    border-radius: 8px;
    color: white;
    margin-bottom: 2.5rem;
    align-self: flex-end;
}

input:focus {
    border: solid 1px blue;
    box-shadow:  4px 5px 13px 2px #000000;


}

input[type=text], [type=email], [type=tel] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

form {
    border-radius: 10%;
}

.partnersection {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
    width: 100%;
}

.partnersection h2 {
    font-size: 3rem;
}

.hero-section{
    height: 100vh;
}

.yellow-btn{
    width: 10rem;
    border-radius: 1rem;
    background-color: var(--yellow-main);
    border: none;
    padding: 1rem;
    cursor: pointer;
    margin-top: 4rem;
}
.hero-section{
    overflow: hidden;
    width: 100%;
}

.atropos-inner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    z-index: 2;
}

.acro-title{
    font-size: 9rem;
}

.acro-text{
    margin-top: 3rem;
    text-align: center;
    color: white;
}

.blob-image{
    position: absolute;
    z-index: -1;
    width: 45rem;
    height: auto;
}

.span-acro-title{
    color: white;

}

.hero-title{
    height: auto;
    width: 50rem;
}

.hero-bg{
    width: 100%;
    z-index: -2;
    position: absolute;
}

.short-info-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}



.short-info-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
    
.short-info-container h2 {
    font-size: 3rem;
}


.short-info-content{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.top-info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.middle-info{
display: flex;
justify-content: center;
}

.bottom-info{
display: flex;
justify-content: end;
}


.footersection {
    height: 50vh;
    width: 100%;
    margin: 0 auto;
    background: #1E2654;
}

.footercontent {
    width: 90%;
    height: 100%;
    display: grid;
    margin: 0 auto ;
    grid-template-columns: 3fr 1fr 1fr ;
    align-items: center;
    gap: 4rem;
}

.linkerkant {
height: 80%;
color:var(--white-main);
display: flex;
flex-direction: column;
justify-content: space-around;
}

.formrow6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.emailsubmitbutton {
    background: var(--yellow-main);
    height: 3rem;
    width: 6rem;
    color: var(--Dblue-main);
    border-radius: 10px;

}

.middel {
    height: 80%;
    color: var(--white-main);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.middel a {
    
        color: var(--white-main);
        text-decoration: none; 
}
.rechterkant {
    color: var(--white-main);
}


.formdiv6 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-evenly;
height: 6rem;
}

#check_box {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

#user_email1 {
    width: 25rem;
}

.rechterkant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.bovenkant {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex;
}