---
import "../style/global.css"

import { Image } from "astro:assets"
---
<section class="footersection">
    <div class="footercontent">
        <div class="linkerkant">
            <h2>Subscribe to our newsletter</h2>
            
            <div class="formrow6">
                <div class="formdiv6">
                    <label for="user_email">Email*</label>
                    <input type="email" name="user_email" id="user_email1" required>
                    <input type="checkbox" name="check_box" id="check_box" required>
                </div>
            </div>
            <button class="emailsubmitbutton">Subscribe</button>

        </div>

        <div class="middel">
            
                <h3>Quick links</h3></li>
                <a href="">Home</a>
                <a href="">About us</a>
                <a href="">Workshops</a>
                <a href="">Information</a>
                <a href="">Contact</a>
            
        </div>
        
        <div class="rechterkant">
            <div class="bovenkant"><h2>Socials</h2>
                <h2>Socialmediaimages</h2>
            </div>
            

            <h2>Copyright images</h2>
            
           



        </div>





    </div>




</section>