---
import '../style/global.css'
---

<header>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
</header>