---
import '../style/global.css'

import Logo from "../components/icon/Logo.astro"
---
<header>
<nav>
    <a href="/">
    <Logo />
    </a>
    <ul>
        <li>
            
            <a href="/about">About us</a>
            <a href="/about">Workshops</a>
            <a href="/about">Information</a>
            <a href="#">Contact</a>
        </li>
    </ul>
    <a href=""><button class="signupbutton">Sign up</button></a>
</nav>
</header>