---
import '../style/global.css'

import Logo from "../components/icon/logo.astro"

---
<header>
<nav>
    <Logo />
    <ul>
        
        <li>
            <a href="/">Home</a>
            <a href="/about">About us</a>
            <a href="/about">Workshops</a>
            <a href="/about">Information</a>
            <a href="#">Contact</a>
        </li>
    </ul>
    <button class="signupbutton">Sign up</button>
</nav>
</header>