---
import "../style/global.css";
import YellowButton from "../components/YellowButton.astro"
---

<section class="hero-section">
    <!-- main Atropos container (required), add your custom class here -->
<div class="atropos my-atropos">
    <!-- scale container (required) -->
    <div class="atropos-scale">
      <!-- rotate container (required) -->
      <div class="atropos-rotate">
        <!-- inner container (required) -->
        <div class="atropos-inner">
            <div class="atropos-inner-content">
            <button class="yellow-btn">
                <p>I want to join now</p>
            </button> 
            </div>
        </div>
      </div>
    </div>
  </div>

</section>
