---
import '../style/global.css' 
import PartnerLogo from './icon/PartnerLogo.astro'

---
<section class="partnersection" >
<h2>Partners</h2>
<div class="partnerlogodiv">
    <PartnerLogo  />
</div>
</section>

