---
import '../style/global.css'
let { paragraph } = Astro.props

import  Quote  from '../../public/Quote.svg'
import QuoteEnd from '../../public/Quote2.svg'
import Star from '../../public/Sterretje.svg'
import { Image } from 'astro:assets'
---
    <div class="review-card">
        <div class="card-text-container">
            <div class="quote-mark">
                <Image  src={Quote} alt="quoteMark"/>
            </div>
            <p>{paragraph}</p>
            <div class="quote-mark-end">
                <Image src={QuoteEnd} alt=QuoteMark/>
            </div>
        </div>
        <div class="card-star-container">
            <div class="card-star-rating">
                <Image src={ Star } alt='star'/>
                <Image src={ Star } alt='star'/>
                <Image src={ Star } alt='star'/>
                <Image src={ Star } alt='star'/>
                <Image src={ Star } alt='star'/>
            </div>
        </div>
    </div>