---
import '../style/global.css'
let { paragraph } = Astro.props
---

<section class="review-section">
    <h2>See what other think</h2>
    <div>
        <div>
            <div>
            <img src="" alt="">
            </div>
            <p>{paragraph}</p>
            <div>
            <img src="" alt="">
            </div>
        </div>
        <div>
        <img src="" alt="">
        </div>
    </div>
</section>