---
import "../style/global.css";
---

<section class="short-info-section">
    <div class="short-info-container">
        <h2>Be joyful, be playful!</h2>
        <div class="short-info-content">

        </div>
    </div>


</section>