---
import "../style/global.css";
import RozeBlob from "../../public/rozebigblob.png"
import Pilaar from "../../public/pilaar.png"
import Zit from "../../public/lekkerzitten.png"
import { Image } from "astro:assets";
---

<section class="sliding-section">
	<div class="sliding-section-content">
		<div class="orangeblockcontainer">
			<Image class=orangeblock src={RozeBlob} alt="rozeblobfoto" />
			<Image class="orangeblock-img" src={Pilaar} alt="yogapic" />
			<Image class="orangeblock-img2" src={Zit} alt="yogapic2 " />
 
		</div>
		<div class="rightsidetext">
			<h2>Stretch your muscles and your minds</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br
				/>
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
				aliquip ex ea commodo consequat.<br />
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
				eu fugiat nulla pariatur.
			</p>
			<a href=""><button class="signupbutton">Sign up</button></a>
		</div>
	</div>
</section>
