---
import '../style/global.css'
---

<section class="sliding-section">
    <div class="sliding-section-content">
    <div class="orangeblockcontainer"><div class="orangeblock">
        <img class="orangeblock-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5TwJReN4u8CRItmEBhu2xQDkWyCgzqIldVTRs6of_0Q&s" alt="">
        <img class="orangeblock-img2"src="https://static.printler.com/cache/1/6/9/d/0/6/169d068ec175ef1d4829953ebbe5312b9b4d1055.jpg" alt="kankermooiehond" >
    </div>
    </div>
    <div class="rightsidetext">
        <h2>Stretch your muscles and your minds</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
             <a href=""><button class="signupbutton">Sign up</button></a>




    </div>
</div>










</section>